ASIR/examenfinal/rss.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) -->
<!ELEMENT rss (channel)>
<!ATTLIST rss
	version CDATA #FIXED "2.0"
>
<!ELEMENT item (title, link, description)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT channel (item+)>
<!ELEMENT description (#PCDATA)>
