ASIR/Final/BunnyForm.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2022 rel. 2 (x64) (http://www.altova.com) -->
<!ELEMENT grupo (#PCDATA)>
<!ELEMENT opcion (#PCDATA)>
<!ATTLIST opcion
	correcto CDATA #FIXED "yes"
>
<!ELEMENT pregunta (grupo?, enunciado, opcion+)>
<!ELEMENT enunciado (#PCDATA)>
<!ELEMENT formulario (pregunta+)>
